@import '../../style/variables.scss';
.baner {
    margin: 0 auto;
    border-bottom: 2px solid $tamna-braon;
    border-top: 2px solid $tamna-braon;
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 2rem;
    span {
        text-transform: lowercase;
        font-weight: bold;
        font-size: 2.2rem;
        color: $tamna-braon;
        
    }
}
.shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    }
    @media (max-width:300px) {
        * {
            font-size: 30%;
        }
        .shop {
            grid-template-columns: repeat(1, 1fr);
        }
        
        
    }
    @media (min-width:301px) and (max-width:416px) {
        * {
            font-size: 30%;
        }
        .shop {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media (min-width:412px) and (max-width: 576px) {
        * {
            font-size: 42%;
        }
        .shop {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width:577px) and (max-width:1024px) {
        * {
            font-size: 50%;
        }
        .shop {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    