@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import '../../style/variables.scss';
*{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    font-size: 62.5%;
    
   scroll-behavior: smooth;
 }
section{
    max-width: 1200px;
    margin:0 auto;
    padding:2rem;
 }

.carousel {
    
    background-color: $standardna;
}

.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid $tamna-braon;
    border-bottom: 2px solid $tamna-braon;
    .circle {
        width: 17rem;     
        margin: 0 .5rem;
        padding: 1rem;
        img{
           width: 100%;
            aspect-ratio: 1;
        object-fit: contain;
            border-radius: 50%;    
    }   
    }
    .circle:hover{
        opacity: 0.5;
    }
}

@media (max-width:300px) {
    * {
        font-size: 30%;
    }
    
    .brands {
       display: none;
    }
    .brands .circle img {
        width: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
}
@media (min-width:301px) and (max-width:416px) {
    * {
        font-size: 30%;
    }
    .brands{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .circle {
            width: calc(100% / 3);
            text-align: center;
            margin: 0;
            height: 10rem;
        }
    }
    .brands .circle img {
        width: 50%;
        text-align: center;
        aspect-ratio: 6/5;
        object-fit: contain;
    }
    section {
        padding: 0;
    }
}
@media (min-width:412px) and (max-width: 576px) {
    * {
        font-size: 42%;
    }
    .brands{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .circle {
            width: calc(100% / 3);
            text-align: center;
            margin: 0;
            height: 14rem;
        }
    }
    section {
        padding: 0;
    }
    .brands .circle img {
        width: 60%;
        aspect-ratio: 4/3;
        object-fit: contain;
    }
}

@media (min-width:577px) and (max-width:1024px) {
    .brands .circle {
        height: 12rem;
    }
}