@import '../../style/variables.scss';
.baner {
    margin: 0 auto;
    background-color: $roze;
        width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 5rem;
    margin-bottom: 2rem;
    span {
        text-transform:lowercase;
        font-weight: bold;
        font-size: 2.2rem;
        color: $tamna-braon;
        
    }
}
.slider {
    max-height: 50rem;
    .slide {
        width: calc((100% - 4rem)/4);
        box-shadow: 1;
        text-align: center;
        .box{    
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                img{
                  object-fit: contain;
                  width: 70%;
                   }
                span{
                    font-size: 1.6rem;
                    font-weight: 600;
                    width: 100%;
                    padding: .4rem 0 .2rem;
                }
                :nth-child(2){
                    margin-top: .5rem;
                    border-top: .2rem solid black;
                }
                :nth-child(3) {
                    font-style: italic;
                    font-size: 1.4rem;
                }

            }
            }
        .box:hover{
            a{
                span{
                    color: $bela;
                    background-color: $roze;
                    opacity: 8;
                }
            }
        }
        
        
        
        
    }
}
.offer {
    margin:2rem 0 0 0;
    img {
        width: 100%;
    }
    img:hover{
        opacity: 0.9;
    }
}
@media (max-width : 480px){
    div{
        .baner{
            span{
                font-size: 1rem;
            }
        }
    }
}